@use "theme.scss";

#create_server_panel {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    max-height: calc(100vh - 32px);
    .panel_header {
        padding: 0 1rem 0 2rem;
        grid-column: span 2;
        display: flex;
        h1 {
            margin-bottom: 0;
        }
        h3 {
            margin-top: 0;
        }
        button {
            margin-left: auto;
            height: 32px;
            align-self: center;
            padding-left: 1rem;
            padding-right: 1rem;
            appearance: none;
            border: 1px solid theme.$background-7;
            background-color: theme.$background-6;
            color: white;
        }
    }
    .sub_section {
        height: 100%;
        display: grid;
        grid-column: 1;
        grid-template-columns: 1fr 1fr 1fr;
        box-sizing: border-box;
        gap: 0.5rem;
        padding: 0 1rem 1rem;

        .server_type {
            display: flex;
            width: 100%;
            background-color: theme.$background-6;
            overflow: hidden;
            padding: 0.5rem;
            box-sizing: border-box;
            gap: 0.5rem;
            cursor: pointer;
            border-radius: 10px;
            border: 1px solid theme.$background-7;
            &:hover,
            &.selected {
                background-color: theme.$background-7;
                border: 1px solid theme.$background-8;
            }
            img {
                width: 50px;
                height: 50px;
                border-radius: 7px;
            }
            div {
                display: flex;
                flex-direction: column;
                .server_type_name {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                .server_type_description {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
