@use "theme.scss";

:root {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

html body {
    margin: 0;
    overflow: hidden;
    background-color: theme.$background-2;
}

#main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.app_titlebar {
    grid-column: span 2;
    grid-row: 1 / 1;
    position: relative;
    width: 100%;
    height: 32px;

    .drag_region {
        position: absolute;
        inset: 0;
        app-region: drag;
    }
    .content {
        position: absolute;
        inset: 0;
        background-color: theme.$background-2;
        display: flex;
        padding: 0;
        margin: 0;
        .window_title {
            padding: 4px 1rem;
            color: theme.$accent;
            font-weight: bold;
            text-shadow: 0 0 10px theme.$background-5;
        }
        .buttons {
            margin: 0 0 0 auto;
            display: flex;
            button {
                appearance: none;
                height: 32px;
                border: none;
                padding: 0 16px;
                margin: 0;
                background-color: theme.$background-2;
                color: #aaaaaa;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 16px;
                    height: 16px;
                }
                &:hover {
                    background-color: theme.$background-5;
                    color: theme.$font-color;
                }
                &.red:hover {
                    background-color: red;
                }
            }
        }
    }
}

.app_sidebar {
    grid-column: 1;
    grid-row: 2;
}

main.container {
    grid-column: 2;
    grid-row: 2;
    background-color: theme.$background-4;
    width: calc(100vw - 276px);
    height: 100vh;
    border: 1px solid transparent;
    border-top: 1px solid theme.$background-5;
    border-left: 1px solid theme.$background-5;
    border-top-left-radius: 10px;
}

@import "sidebar.scss";
@import "server_panel.scss";
@import "create_server_panel.scss";
@import "dynamic_scaling.scss";
