@use "theme.scss";

.app_sidebar {
    background-color: theme.$background-2;
    width: auto;
    display: grid;
    max-height: calc(100vh - 32px);
    grid-template-columns: 276px;
    grid-template-rows: auto auto;

    .server_icon {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        background-color: theme.$background-4;
        border-radius: 10px;
        overflow: hidden;
        transition: all 500ms;
    }

    .server_list {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-y: auto;
        overflow-x: visible;
        width: 100%;
        scrollbar-gutter: stable both-edges;

        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-track {
            background: theme.$background-2;
        }
        &::-webkit-scrollbar-thumb {
            border: 4px solid theme.$background-2;
            border-radius: 100px;
            background: #555;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #888;
        }
        & > div {
            background-color: theme.$background-3;
            border-radius: 10px;
            cursor: pointer;
            transition: all 500ms;
            max-height: 50px;
            &.selected {
                background-color: theme.$background-5;
            }
            &:hover {
                background-color: theme.$background-5;
            }
            .server_info {
                display: flex;
                /*gap: 3px;*/
                flex-direction: column;
                font-weight: bold;
                justify-content: center;
                .server_name {
                    font-size: 22px;
                    max-width: 222px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                }
            }
            .server_extended_info {
                font-size: 13px;
                span {
                    text-transform: uppercase;
                    &.online {
                        color: theme.$serverOnline;
                    }
                    &.offline {
                        color: theme.$serverOffline;
                    }
                }
            }
        }
        & > div,
        & > div .server_extended_info {
            display: flex;
            gap: 1rem;
        }
        & > div.debug_info {
            max-height: unset;
            display: block;
            padding: 1rem;
            word-break: break-all;
            h3 {
                margin: 0;
            }
        }
    }

    .extras {
        margin-top: auto;
        display: flex;
        padding: 8px 0;
        gap: 1rem;
        border-top: 1px solid #808080;
        width: 90%;
        justify-self: center;
        .server_icon {
            svg {
                color: white;
                width: 25px;
                height: 25px;
            }
            &.selected {
                background-color: theme.$background-5;
                border-radius: 40px;
            }
            &:hover {
                background-color: theme.$background-5;
                border-radius: 40px;
            }
        }
    }
}
