$background-1: rgb(10, 10, 10);
$background-2: rgb(15, 15, 15);
$background-3: rgb(20, 20, 20);
$background-4: rgb(25, 25, 25);
$background-5: rgb(30, 30, 30);
$background-6: rgb(35, 35, 35);
$background-7: rgb(40, 40, 40);
$background-8: rgb(45, 45, 45);
$background-9: rgb(50, 50, 50);
$accent: #195bbeff;
$accent-trans-75: color-mix(in srgb, $accent, #00000000 25%);
$accent-trans-50: color-mix(in srgb, $accent, #00000000 50%);
$accent-trans-25: color-mix(in srgb, $accent, #00000000 75%);
$font-color: white;

$serverOnline: #60e04c;
$serverOnlineTransparent: rgba(96, 224, 76, 0.5);
$serverOffline: rgb(206, 68, 58);
$serverOfflineTransparent: rgba(206, 68, 58, 0.5);
