name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - run: rustup toolchain install stable
    - run: rustup target add wasm32-unknown-unknown
    - run: cargo install cargo-binstall
    - run: cargo binstall tauri-cli --force
    - run: cargo binstall dioxus-cli@0.6.3 --force
    - run: cargo tauri build
    - uses: svenstaro/upload-release-action@v2
      with:
        file: target/release/bundle/nsis/*
        asset_name: "GaiaManagerSetup.exe"
        overwrite: true
        file_glob: true
      
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: sudo apt update
    - run: sudo apt install libwebkit2gtk-4.1-dev \
        build-essential \
        curl \
        wget \
        file \
        libxdo-dev \
        libssl-dev \
        libayatana-appindicator3-dev \
        librsvg2-dev
    - run: rustup toolchain install stable
    - run: rustup target add wasm32-unknown-unknown
    - run: cargo install cargo-binstall
    - run: cargo binstall tauri-cli --force
    - run: cargo binstall dioxus-cli@0.6.3 --force
    - run: cargo tauri build
