name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - run: cargo install tauri-cli --version "^2.0.0" --locked
    - run: cargo tauri build
    - uses: svenstaro/upload-release-action@v2
      with:
        file: target/release/bundle/nsis/*
        asset_name: "GaiaManagerSetup.exe"
        overwrite: true
        file_glob: true
      
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: sudo apt update
    - run: sudo apt install libwebkit2gtk-4.1-dev \
        build-essential \
        curl \
        wget \
        file \
        libxdo-dev \
        libssl-dev \
        libayatana-appindicator3-dev \
        librsvg2-dev
    - run: cargo install tauri-cli --version "^2.0.0" --locked
    - run: cargo tauri build
